@font-face {
  font-family: 'umc';
  src:  url('./fonts/umc.eot?orrpym');
  src:  url('./fonts/umc.eot?orrpym#iefix') format('embedded-opentype'),
    url('./fonts/umc.ttf?orrpym') format('truetype'),
    url('./fonts/umc.woff?orrpym') format('woff'),
    url('./fonts/umc.svg?orrpym#umc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'umc' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-activity:before {
  content: "\e959";
}
.ico-airplay:before {
  content: "\e913";
}
.ico-alert-circle:before {
  content: "\e95a";
}
.ico-alert-octagon:before {
  content: "\e95b";
}
.ico-alert-triangle:before {
  content: "\e95c";
}
.ico-align-center:before {
  content: "\e95d";
}
.ico-align-justify:before {
  content: "\e95e";
}
.ico-align-left:before {
  content: "\e95f";
}
.ico-align-right:before {
  content: "\e962";
}
.ico-anchor:before {
  content: "\e963";
}
.ico-aperture:before {
  content: "\e964";
}
.ico-archive1:before {
  content: "\e914";
}
.ico-arrow-down3:before {
  content: "\e965";
}
.ico-arrow-down-circle:before {
  content: "\e966";
}
.ico-arrow-down-left:before {
  content: "\e967";
}
.ico-arrow-down-right:before {
  content: "\e968";
}
.ico-arrow-left:before {
  content: "\e915";
}
.ico-arrow-left-circle:before {
  content: "\e969";
}
.ico-arrow-right:before {
  content: "\e916";
}
.ico-arrow-right-circle:before {
  content: "\e96a";
}
.ico-arrow-up1:before {
  content: "\e96b";
}
.ico-arrow-up-circle:before {
  content: "\e96c";
}
.ico-arrow-up-left:before {
  content: "\e96d";
}
.ico-arrow-up-right:before {
  content: "\e96e";
}
.ico-at-sign:before {
  content: "\e96f";
}
.ico-award:before {
  content: "\e958";
}
.ico-bar-chart:before {
  content: "\e970";
}
.ico-bar-chart-2:before {
  content: "\e971";
}
.ico-battery:before {
  content: "\e972";
}
.ico-battery-charging:before {
  content: "\e973";
}
.ico-bell:before {
  content: "\e974";
}
.ico-bell-off:before {
  content: "\e975";
}
.ico-bluetooth:before {
  content: "\e976";
}
.ico-bold:before {
  content: "\e977";
}
.ico-book:before {
  content: "\e978";
}
.ico-book-open:before {
  content: "\e979";
}
.ico-bookmark:before {
  content: "\e97a";
}
.ico-box:before {
  content: "\e97b";
}
.ico-briefcase:before {
  content: "\e97c";
}
.ico-calendar:before {
  content: "\e917";
}
.ico-camera:before {
  content: "\e918";
}
.ico-camera-off:before {
  content: "\e919";
}
.ico-cast:before {
  content: "\e97d";
}
.ico-check:before {
  content: "\e91a";
}
.ico-check-circle:before {
  content: "\e91b";
}
.ico-check-square:before {
  content: "\e91c";
}
.ico-chevron-down:before {
  content: "\e91d";
}
.ico-chevron-left:before {
  content: "\e91e";
}
.ico-chevron-right:before {
  content: "\e91f";
}
.ico-chevron-up:before {
  content: "\e920";
}
.ico-chevrons-down:before {
  content: "\e97e";
}
.ico-chevrons-left:before {
  content: "\e97f";
}
.ico-chevrons-right:before {
  content: "\e980";
}
.ico-chevrons-up:before {
  content: "\e981";
}
.ico-chrome:before {
  content: "\e982";
}
.ico-circle1:before {
  content: "\e921";
}
.ico-clipboard:before {
  content: "\e922";
}
.ico-clock:before {
  content: "\e923";
}
.ico-cloud:before {
  content: "\e983";
}
.ico-cloud-drizzle:before {
  content: "\e984";
}
.ico-cloud-lightning:before {
  content: "\e985";
}
.ico-cloud-off:before {
  content: "\e986";
}
.ico-cloud-rain:before {
  content: "\e987";
}
.ico-cloud-snow:before {
  content: "\e988";
}
.ico-code:before {
  content: "\e989";
}
.ico-codepen:before {
  content: "\e98a";
}
.ico-codesandbox:before {
  content: "\e98b";
}
.ico-coffee:before {
  content: "\e98c";
}
.ico-columns:before {
  content: "\e98d";
}
.ico-command:before {
  content: "\e98e";
}
.ico-compass:before {
  content: "\e98f";
}
.ico-copy:before {
  content: "\e990";
}
.ico-corner-down-left:before {
  content: "\e991";
}
.ico-corner-down-right:before {
  content: "\e992";
}
.ico-corner-left-down:before {
  content: "\e993";
}
.ico-corner-left-up:before {
  content: "\e994";
}
.ico-corner-right-down:before {
  content: "\e995";
}
.ico-corner-right-up:before {
  content: "\e996";
}
.ico-corner-up-left:before {
  content: "\e997";
}
.ico-corner-up-right:before {
  content: "\e998";
}
.ico-cpu:before {
  content: "\e999";
}
.ico-credit-card:before {
  content: "\e99a";
}
.ico-crop:before {
  content: "\e99b";
}
.ico-crosshair:before {
  content: "\e99c";
}
.ico-database:before {
  content: "\e99d";
}
.ico-delete:before {
  content: "\e99e";
}
.ico-disc:before {
  content: "\e99f";
}
.ico-dollar-sign:before {
  content: "\e9a0";
}
.ico-download1:before {
  content: "\e9a1";
}
.ico-download-cloud:before {
  content: "\e9a2";
}
.ico-droplet:before {
  content: "\e9a3";
}
.ico-edit:before {
  content: "\e924";
}
.ico-edit-2:before {
  content: "\e925";
}
.ico-edit-3:before {
  content: "\e926";
}
.ico-external-link:before {
  content: "\e927";
}
.ico-eye:before {
  content: "\e9a4";
}
.ico-eye-off:before {
  content: "\e9a5";
}
.ico-facebook1:before {
  content: "\e9a6";
}
.ico-fast-forward:before {
  content: "\e9a7";
}
.ico-feather:before {
  content: "\e9a8";
}
.ico-figma:before {
  content: "\e9a9";
}
.ico-file:before {
  content: "\e9aa";
}
.ico-file-minus:before {
  content: "\e9ab";
}
.ico-file-plus:before {
  content: "\e9ac";
}
.ico-file-text:before {
  content: "\e928";
}
.ico-film:before {
  content: "\e929";
}
.ico-filter:before {
  content: "\e9ad";
}
.ico-flag:before {
  content: "\e92a";
}
.ico-folder:before {
  content: "\e92b";
}
.ico-folder-minus:before {
  content: "\e92c";
}
.ico-folder-plus:before {
  content: "\e92d";
}
.ico-framer:before {
  content: "\e9ae";
}
.ico-frown:before {
  content: "\e92e";
}
.ico-gift:before {
  content: "\e92f";
}
.ico-git-branch:before {
  content: "\e9af";
}
.ico-git-commit:before {
  content: "\e9b0";
}
.ico-git-merge:before {
  content: "\e9b1";
}
.ico-git-pull-request:before {
  content: "\e9b2";
}
.ico-github1:before {
  content: "\e9b3";
}
.ico-gitlab:before {
  content: "\e9b4";
}
.ico-globe:before {
  content: "\e9b5";
}
.ico-grid:before {
  content: "\e9b6";
}
.ico-hard-drive:before {
  content: "\e9b7";
}
.ico-hash:before {
  content: "\e9b8";
}
.ico-headphones:before {
  content: "\e9b9";
}
.ico-heart:before {
  content: "\e9ba";
}
.ico-help-circle:before {
  content: "\e9bb";
}
.ico-hexagon:before {
  content: "\e9bc";
}
.ico-home:before {
  content: "\e9bd";
}
.ico-image:before {
  content: "\e9be";
}
.ico-inbox:before {
  content: "\e9bf";
}
.ico-info:before {
  content: "\e9c0";
}
.ico-instagram:before {
  content: "\e9c1";
}
.ico-italic:before {
  content: "\e9c2";
}
.ico-key:before {
  content: "\e9c3";
}
.ico-layers1:before {
  content: "\e9c4";
}
.ico-layout:before {
  content: "\e9c5";
}
.ico-life-buoy:before {
  content: "\e9c6";
}
.ico-link:before {
  content: "\e9c7";
}
.ico-link-2:before {
  content: "\e9c8";
}
.ico-linkedin:before {
  content: "\e9c9";
}
.ico-list1:before {
  content: "\e9ca";
}
.ico-loader:before {
  content: "\e9cb";
}
.ico-lock:before {
  content: "\e9cc";
}
.ico-log-in:before {
  content: "\e9cd";
}
.ico-log-out:before {
  content: "\e9ce";
}
.ico-mail:before {
  content: "\e9cf";
}
.ico-map:before {
  content: "\e9d0";
}
.ico-map-pin:before {
  content: "\e9d1";
}
.ico-maximize:before {
  content: "\e9d2";
}
.ico-maximize-2:before {
  content: "\e9d3";
}
.ico-meh:before {
  content: "\e930";
}
.ico-menu:before {
  content: "\e931";
}
.ico-message-circle:before {
  content: "\e9d4";
}
.ico-message-square:before {
  content: "\e9d5";
}
.ico-mic:before {
  content: "\e9d6";
}
.ico-mic-off:before {
  content: "\e9d7";
}
.ico-minimize:before {
  content: "\e9d8";
}
.ico-minimize-2:before {
  content: "\e9d9";
}
.ico-minus2:before {
  content: "\e9da";
}
.ico-minus-circle:before {
  content: "\e9db";
}
.ico-minus-square:before {
  content: "\e9dc";
}
.ico-monitor:before {
  content: "\e9dd";
}
.ico-moon:before {
  content: "\e9de";
}
.ico-more-horizontal:before {
  content: "\e911";
}
.ico-more-vertical:before {
  content: "\e932";
}
.ico-mouse-pointer:before {
  content: "\e9df";
}
.ico-move:before {
  content: "\e9e0";
}
.ico-music:before {
  content: "\e9e1";
}
.ico-navigation:before {
  content: "\e9e2";
}
.ico-navigation-2:before {
  content: "\e9e3";
}
.ico-octagon:before {
  content: "\e9e4";
}
.ico-package:before {
  content: "\e9e5";
}
.ico-paperclip:before {
  content: "\e9e6";
}
.ico-pause:before {
  content: "\e9e7";
}
.ico-pause-circle:before {
  content: "\e9e8";
}
.ico-pen-tool:before {
  content: "\e9e9";
}
.ico-percent:before {
  content: "\e9ea";
}
.ico-phone1:before {
  content: "\e933";
}
.ico-phone-call:before {
  content: "\e934";
}
.ico-phone-forwarded:before {
  content: "\e9eb";
}
.ico-phone-incoming:before {
  content: "\e9ec";
}
.ico-phone-missed:before {
  content: "\e9ed";
}
.ico-phone-off:before {
  content: "\e9ee";
}
.ico-phone-outgoing:before {
  content: "\e9ef";
}
.ico-pie-chart:before {
  content: "\e9f0";
}
.ico-play:before {
  content: "\e9f1";
}
.ico-play-circle:before {
  content: "\e9f2";
}
.ico-plus2:before {
  content: "\e9f3";
}
.ico-plus-circle:before {
  content: "\e9f4";
}
.ico-plus-square:before {
  content: "\e9f5";
}
.ico-pocket:before {
  content: "\e9f6";
}
.ico-power:before {
  content: "\e9f7";
}
.ico-printer:before {
  content: "\e9f8";
}
.ico-radio:before {
  content: "\e9f9";
}
.ico-refresh-ccw:before {
  content: "\e9fa";
}
.ico-refresh-cw:before {
  content: "\e9fb";
}
.ico-repeat:before {
  content: "\e9fc";
}
.ico-rewind:before {
  content: "\e9fd";
}
.ico-rotate-ccw:before {
  content: "\e9fe";
}
.ico-rotate-cw:before {
  content: "\e9ff";
}
.ico-rss:before {
  content: "\ea00";
}
.ico-save:before {
  content: "\e935";
}
.ico-scissors:before {
  content: "\e936";
}
.ico-search:before {
  content: "\e900";
}
.ico-send:before {
  content: "\ea01";
}
.ico-server:before {
  content: "\ea02";
}
.ico-settings:before {
  content: "\ea03";
}
.ico-share:before {
  content: "\e937";
}
.ico-share-2:before {
  content: "\ea04";
}
.ico-shield:before {
  content: "\e938";
}
.ico-shield-off:before {
  content: "\e939";
}
.ico-shopping-bag:before {
  content: "\ea05";
}
.ico-shopping-cart:before {
  content: "\e901";
}
.ico-shuffle:before {
  content: "\ea06";
}
.ico-sidebar:before {
  content: "\ea07";
}
.ico-skip-back:before {
  content: "\ea08";
}
.ico-skip-forward:before {
  content: "\ea09";
}
.ico-slack:before {
  content: "\ea0c";
}
.ico-slash:before {
  content: "\ea0d";
}
.ico-sliders:before {
  content: "\e93a";
}
.ico-smartphone:before {
  content: "\ea0e";
}
.ico-smile:before {
  content: "\e93b";
}
.ico-speaker:before {
  content: "\ea0f";
}
.ico-square:before {
  content: "\ea10";
}
.ico-star:before {
  content: "\ea11";
}
.ico-stop-circle:before {
  content: "\ea12";
}
.ico-sun:before {
  content: "\ea13";
}
.ico-sunrise:before {
  content: "\ea14";
}
.ico-sunset:before {
  content: "\ea15";
}
.ico-tablet:before {
  content: "\ea16";
}
.ico-tag:before {
  content: "\e93c";
}
.ico-target:before {
  content: "\ea17";
}
.ico-terminal1:before {
  content: "\ea18";
}
.ico-thermometer:before {
  content: "\ea19";
}
.ico-thumbs-down:before {
  content: "\e93d";
}
.ico-thumbs-up:before {
  content: "\e93e";
}
.ico-toggle-left:before {
  content: "\e93f";
}
.ico-toggle-right:before {
  content: "\e940";
}
.ico-tool:before {
  content: "\ea1a";
}
.ico-trash:before {
  content: "\ea1b";
}
.ico-trash-2:before {
  content: "\ea1c";
}
.ico-trello:before {
  content: "\ea1d";
}
.ico-trending-down:before {
  content: "\ea1e";
}
.ico-trending-up:before {
  content: "\ea1f";
}
.ico-triangle:before {
  content: "\ea20";
}
.ico-truck:before {
  content: "\ea21";
}
.ico-tv:before {
  content: "\ea22";
}
.ico-twitch:before {
  content: "\ea23";
}
.ico-twitter1:before {
  content: "\ea24";
}
.ico-type:before {
  content: "\ea25";
}
.ico-umbrella:before {
  content: "\ea26";
}
.ico-underline:before {
  content: "\ea27";
}
.ico-unlock:before {
  content: "\ea28";
}
.ico-upload1:before {
  content: "\ea29";
}
.ico-upload-cloud:before {
  content: "\ea2a";
}
.ico-user:before {
  content: "\e943";
}
.ico-user-check:before {
  content: "\e944";
}
.ico-user-minus:before {
  content: "\e945";
}
.ico-user-plus:before {
  content: "\e946";
}
.ico-user-x:before {
  content: "\ea2b";
}
.ico-users:before {
  content: "\e947";
}
.ico-video:before {
  content: "\ea2c";
}
.ico-video-off:before {
  content: "\ea2d";
}
.ico-voicemail:before {
  content: "\ea2e";
}
.ico-volume:before {
  content: "\ea2f";
}
.ico-volume-1:before {
  content: "\ea30";
}
.ico-volume-2:before {
  content: "\ea31";
}
.ico-volume-x:before {
  content: "\ea33";
}
.ico-watch:before {
  content: "\ea34";
}
.ico-wifi:before {
  content: "\ea35";
}
.ico-wifi-off:before {
  content: "\ea37";
}
.ico-wind:before {
  content: "\ea38";
}
.ico-x:before {
  content: "\ea39";
}
.ico-x-circle:before {
  content: "\ea3b";
}
.ico-x-octagon:before {
  content: "\ea3c";
}
.ico-x-square:before {
  content: "\ea3d";
}
.ico-youtube:before {
  content: "\ea3f";
}
.ico-zap:before {
  content: "\ea40";
}
.ico-zap-off:before {
  content: "\ea41";
}
.ico-zoom-in:before {
  content: "\ea42";
}
.ico-zoom-out:before {
  content: "\ea43";
}
.ico-add-to-list:before {
  content: "\ea44";
}
.ico-classic-computer:before {
  content: "\ea45";
}
.ico-controller-fast-backward:before {
  content: "\ea46";
}
.ico-creative-commons-attribution:before {
  content: "\ea47";
}
.ico-creative-commons-noderivs:before {
  content: "\ea48";
}
.ico-creative-commons-noncommercial-eu:before {
  content: "\ea49";
}
.ico-creative-commons-noncommercial-us:before {
  content: "\ea4a";
}
.ico-creative-commons-public-domain:before {
  content: "\ea4b";
}
.ico-creative-commons-remix:before {
  content: "\ea4c";
}
.ico-creative-commons-share:before {
  content: "\ea4d";
}
.ico-creative-commons-sharealike:before {
  content: "\ea4e";
}
.ico-creative-commons:before {
  content: "\ea4f";
}
.ico-document-landscape:before {
  content: "\ea50";
}
.ico-remove-user:before {
  content: "\ea51";
}
.ico-warning:before {
  content: "\ea52";
}
.ico-arrow-bold-down:before {
  content: "\e948";
}
.ico-arrow-bold-left:before {
  content: "\ea53";
}
.ico-arrow-bold-right:before {
  content: "\ea54";
}
.ico-arrow-bold-up:before {
  content: "\e949";
}
.ico-arrow-down1:before {
  content: "\e94a";
}
.ico-arrow-left1:before {
  content: "\ea55";
}
.ico-arrow-long-down:before {
  content: "\e94b";
}
.ico-arrow-long-left:before {
  content: "\ea56";
}
.ico-arrow-long-right:before {
  content: "\ea57";
}
.ico-arrow-long-up:before {
  content: "\e94c";
}
.ico-arrow-right1:before {
  content: "\ea58";
}
.ico-arrow-up3:before {
  content: "\ea59";
}
.ico-arrow-with-circle-down:before {
  content: "\ea5a";
}
.ico-arrow-with-circle-left:before {
  content: "\ea5b";
}
.ico-arrow-with-circle-right:before {
  content: "\ea5c";
}
.ico-arrow-with-circle-up:before {
  content: "\ea5d";
}
.ico-bookmark1:before {
  content: "\ea5e";
}
.ico-bookmarks:before {
  content: "\ea5f";
}
.ico-chevron-down1:before {
  content: "\ea60";
}
.ico-chevron-left1:before {
  content: "\ea61";
}
.ico-chevron-right1:before {
  content: "\ea62";
}
.ico-chevron-small-down:before {
  content: "\ea63";
}
.ico-chevron-small-left:before {
  content: "\ea64";
}
.ico-chevron-small-right:before {
  content: "\ea65";
}
.ico-chevron-small-up:before {
  content: "\ea66";
}
.ico-chevron-thin-down:before {
  content: "\ea67";
}
.ico-chevron-thin-left:before {
  content: "\ea68";
}
.ico-chevron-thin-right:before {
  content: "\ea69";
}
.ico-chevron-thin-up:before {
  content: "\ea6a";
}
.ico-chevron-up1:before {
  content: "\ea6b";
}
.ico-chevron-with-circle-down:before {
  content: "\ea6c";
}
.ico-chevron-with-circle-left:before {
  content: "\ea6d";
}
.ico-chevron-with-circle-right:before {
  content: "\ea6e";
}
.ico-chevron-with-circle-up:before {
  content: "\ea6f";
}
.ico-cloud1:before {
  content: "\ea70";
}
.ico-controller-fast-forward:before {
  content: "\ea71";
}
.ico-controller-jump-to-start:before {
  content: "\ea72";
}
.ico-controller-next:before {
  content: "\ea73";
}
.ico-controller-paus:before {
  content: "\ea74";
}
.ico-controller-play:before {
  content: "\ea75";
}
.ico-controller-record:before {
  content: "\ea76";
}
.ico-controller-stop:before {
  content: "\ea77";
}
.ico-controller-volume:before {
  content: "\ea78";
}
.ico-dot-single:before {
  content: "\ea79";
}
.ico-dots-three-horizontal:before {
  content: "\e912";
}
.ico-dots-three-vertical:before {
  content: "\e94d";
}
.ico-dots-two-horizontal:before {
  content: "\ea7a";
}
.ico-dots-two-vertical:before {
  content: "\ea7b";
}
.ico-download2:before {
  content: "\ea7c";
}
.ico-emoji-flirt:before {
  content: "\ea7d";
}
.ico-flow-branch:before {
  content: "\ea7e";
}
.ico-flow-cascade:before {
  content: "\ea7f";
}
.ico-flow-line:before {
  content: "\ea80";
}
.ico-flow-parallel:before {
  content: "\ea82";
}
.ico-flow-tree:before {
  content: "\ea83";
}
.ico-install:before {
  content: "\ea84";
}
.ico-layers:before {
  content: "\e902";
}
.ico-open-book:before {
  content: "\ea85";
}
.ico-resize-100:before {
  content: "\ea86";
}
.ico-resize-full-screen:before {
  content: "\ea88";
}
.ico-save1:before {
  content: "\ea89";
}
.ico-select-arrows:before {
  content: "\ea8b";
}
.ico-sound-mute:before {
  content: "\ea8c";
}
.ico-sound:before {
  content: "\ea8d";
}
.ico-trash1:before {
  content: "\ea8e";
}
.ico-triangle-down:before {
  content: "\ea90";
}
.ico-triangle-left:before {
  content: "\ea92";
}
.ico-triangle-right:before {
  content: "\ea94";
}
.ico-triangle-up:before {
  content: "\ea97";
}
.ico-uninstall:before {
  content: "\ea98";
}
.ico-upload-to-cloud:before {
  content: "\ea99";
}
.ico-upload2:before {
  content: "\ea9a";
}
.ico-add-user:before {
  content: "\ea9b";
}
.ico-address:before {
  content: "\ea9c";
}
.ico-adjust:before {
  content: "\ea9d";
}
.ico-air:before {
  content: "\ea9f";
}
.ico-aircraft-landing:before {
  content: "\eaa0";
}
.ico-aircraft-take-off:before {
  content: "\eaa1";
}
.ico-aircraft:before {
  content: "\eaa2";
}
.ico-align-bottom:before {
  content: "\eaa3";
}
.ico-align-horizontal-middle:before {
  content: "\eaa4";
}
.ico-align-left1:before {
  content: "\eaa5";
}
.ico-align-right1:before {
  content: "\eaa6";
}
.ico-align-top:before {
  content: "\eaa7";
}
.ico-align-vertical-middle:before {
  content: "\eaa8";
}
.ico-archive:before {
  content: "\e903";
}
.ico-area-graph:before {
  content: "\eaa9";
}
.ico-attachment:before {
  content: "\eaaa";
}
.ico-awareness-ribbon:before {
  content: "\eaab";
}
.ico-back-in-time:before {
  content: "\eaac";
}
.ico-back:before {
  content: "\eaad";
}
.ico-bar-graph:before {
  content: "\eaae";
}
.ico-battery1:before {
  content: "\eaaf";
}
.ico-beamed-note:before {
  content: "\eab1";
}
.ico-bell1:before {
  content: "\eab2";
}
.ico-blackboard:before {
  content: "\eab3";
}
.ico-block:before {
  content: "\eab4";
}
.ico-book1:before {
  content: "\eab5";
}
.ico-bowl:before {
  content: "\eab6";
}
.ico-box1:before {
  content: "\eab7";
}
.ico-briefcase1:before {
  content: "\eab8";
}
.ico-browser:before {
  content: "\eab9";
}
.ico-brush:before {
  content: "\eaba";
}
.ico-bucket:before {
  content: "\eabb";
}
.ico-cake:before {
  content: "\eabc";
}
.ico-calculator:before {
  content: "\eabd";
}
.ico-calendar1:before {
  content: "\eabe";
}
.ico-camera1:before {
  content: "\eac3";
}
.ico-ccw:before {
  content: "\eac4";
}
.ico-chat:before {
  content: "\eac5";
}
.ico-check1:before {
  content: "\eac6";
}
.ico-circle-with-cross:before {
  content: "\eac7";
}
.ico-circle-with-minus:before {
  content: "\eac8";
}
.ico-circle-with-plus:before {
  content: "\eac9";
}
.ico-circle:before {
  content: "\e904";
}
.ico-circular-graph:before {
  content: "\e905";
}
.ico-clapperboard:before {
  content: "\eaca";
}
.ico-clipboard1:before {
  content: "\eacb";
}
.ico-clock1:before {
  content: "\eacc";
}
.ico-code1:before {
  content: "\eacd";
}
.ico-cog:before {
  content: "\eace";
}
.ico-colours:before {
  content: "\eacf";
}
.ico-compass1:before {
  content: "\ead0";
}
.ico-copy1:before {
  content: "\ead1";
}
.ico-credit-card1:before {
  content: "\ead2";
}
.ico-credit:before {
  content: "\ead3";
}
.ico-cross:before {
  content: "\ead4";
}
.ico-cup:before {
  content: "\ead5";
}
.ico-cw:before {
  content: "\ead6";
}
.ico-cycle:before {
  content: "\ead7";
}
.ico-database1:before {
  content: "\ead8";
}
.ico-dial-pad:before {
  content: "\ead9";
}
.ico-direction:before {
  content: "\eada";
}
.ico-document:before {
  content: "\eadb";
}
.ico-documents:before {
  content: "\eadc";
}
.ico-drink:before {
  content: "\eadd";
}
.ico-drive:before {
  content: "\eade";
}
.ico-drop:before {
  content: "\eadf";
}
.ico-edit1:before {
  content: "\eae0";
}
.ico-email:before {
  content: "\eae1";
}
.ico-emoji-happy:before {
  content: "\eae2";
}
.ico-emoji-neutral:before {
  content: "\eae3";
}
.ico-emoji-sad:before {
  content: "\eae4";
}
.ico-erase:before {
  content: "\eae5";
}
.ico-eraser:before {
  content: "\eae6";
}
.ico-export:before {
  content: "\eae7";
}
.ico-eye1:before {
  content: "\eae8";
}
.ico-feather1:before {
  content: "\eae9";
}
.ico-flag1:before {
  content: "\eaea";
}
.ico-flash:before {
  content: "\eaeb";
}
.ico-flashlight:before {
  content: "\eaec";
}
.ico-flat-brush:before {
  content: "\eaed";
}
.ico-folder-images:before {
  content: "\eaee";
}
.ico-folder-music:before {
  content: "\eaef";
}
.ico-folder-video:before {
  content: "\eaf0";
}
.ico-folder1:before {
  content: "\eaf1";
}
.ico-forward:before {
  content: "\eaf2";
}
.ico-funnel:before {
  content: "\eaf3";
}
.ico-game-controller:before {
  content: "\eaf4";
}
.ico-gauge:before {
  content: "\eaf5";
}
.ico-globe1:before {
  content: "\eaf6";
}
.ico-graduation-cap:before {
  content: "\eaf7";
}
.ico-grid1:before {
  content: "\eaf8";
}
.ico-hair-cross:before {
  content: "\eaf9";
}
.ico-hand:before {
  content: "\eafa";
}
.ico-heart-outlined:before {
  content: "\eafb";
}
.ico-heart1:before {
  content: "\eafc";
}
.ico-help-with-circle:before {
  content: "\eafd";
}
.ico-help:before {
  content: "\eafe";
}
.ico-home1:before {
  content: "\eaff";
}
.ico-hour-glass:before {
  content: "\eb00";
}
.ico-image-inverted:before {
  content: "\eb01";
}
.ico-image1:before {
  content: "\eb02";
}
.ico-images:before {
  content: "\eb03";
}
.ico-inbox1:before {
  content: "\eb04";
}
.ico-infinity:before {
  content: "\eb05";
}
.ico-info-with-circle:before {
  content: "\eb06";
}
.ico-info1:before {
  content: "\eb07";
}
.ico-key1:before {
  content: "\eb08";
}
.ico-keyboard:before {
  content: "\eb09";
}
.ico-lab-flask:before {
  content: "\eb0a";
}
.ico-landline:before {
  content: "\eb0b";
}
.ico-language:before {
  content: "\e906";
}
.ico-laptop:before {
  content: "\eb0c";
}
.ico-leaf:before {
  content: "\eb0d";
}
.ico-level-down:before {
  content: "\eb0e";
}
.ico-level-up:before {
  content: "\eb0f";
}
.ico-lifebuoy1:before {
  content: "\eb10";
}
.ico-light-bulb:before {
  content: "\e907";
}
.ico-light-down:before {
  content: "\eb11";
}
.ico-light-up:before {
  content: "\eb12";
}
.ico-line-graph:before {
  content: "\eb13";
}
.ico-link1:before {
  content: "\eb14";
}
.ico-list:before {
  content: "\e94e";
}
.ico-location-pin:before {
  content: "\eb15";
}
.ico-location:before {
  content: "\eb16";
}
.ico-lock-open:before {
  content: "\eb17";
}
.ico-lock1:before {
  content: "\eb18";
}
.ico-log-out1:before {
  content: "\eb19";
}
.ico-login:before {
  content: "\eb1a";
}
.ico-loop:before {
  content: "\eb1b";
}
.ico-magnet:before {
  content: "\eb1c";
}
.ico-magnifying-glass:before {
  content: "\e908";
}
.ico-mail1:before {
  content: "\eb1d";
}
.ico-man:before {
  content: "\eb1e";
}
.ico-map1:before {
  content: "\eb1f";
}
.ico-mask:before {
  content: "\eb20";
}
.ico-medal:before {
  content: "\eb21";
}
.ico-megaphone:before {
  content: "\e94f";
}
.ico-menu1:before {
  content: "\e950";
}
.ico-message:before {
  content: "\eb22";
}
.ico-mic1:before {
  content: "\eb23";
}
.ico-minus1:before {
  content: "\e951";
}
.ico-mobile:before {
  content: "\eb24";
}
.ico-modern-mic:before {
  content: "\eb25";
}
.ico-moon1:before {
  content: "\eb26";
}
.ico-mouse:before {
  content: "\eb27";
}
.ico-music1:before {
  content: "\eb28";
}
.ico-network:before {
  content: "\eb29";
}
.ico-new-message:before {
  content: "\e952";
}
.ico-new:before {
  content: "\eb2a";
}
.ico-news:before {
  content: "\eb2b";
}
.ico-note:before {
  content: "\eb2c";
}
.ico-notification:before {
  content: "\e953";
}
.ico-old-mobile:before {
  content: "\eb2d";
}
.ico-old-phone:before {
  content: "\eb2e";
}
.ico-palette:before {
  content: "\eb2f";
}
.ico-paper-plane:before {
  content: "\eb30";
}
.ico-pencil1:before {
  content: "\eb31";
}
.ico-phone2:before {
  content: "\eb32";
}
.ico-pie-chart1:before {
  content: "\eb33";
}
.ico-pin:before {
  content: "\eb34";
}
.ico-plus1:before {
  content: "\e954";
}
.ico-popup:before {
  content: "\eb35";
}
.ico-power-plug:before {
  content: "\eb36";
}
.ico-price-ribbon:before {
  content: "\eb37";
}
.ico-price-tag:before {
  content: "\eb38";
}
.ico-print:before {
  content: "\eb39";
}
.ico-progress-empty:before {
  content: "\eb3a";
}
.ico-progress-full:before {
  content: "\eb3b";
}
.ico-progress-one:before {
  content: "\eb3c";
}
.ico-progress-two:before {
  content: "\eb3d";
}
.ico-publish:before {
  content: "\eb3e";
}
.ico-quote:before {
  content: "\eb3f";
}
.ico-radio1:before {
  content: "\eb40";
}
.ico-reply-all:before {
  content: "\eb41";
}
.ico-reply:before {
  content: "\eb42";
}
.ico-retweet:before {
  content: "\eb43";
}
.ico-rocket:before {
  content: "\eb44";
}
.ico-round-brush:before {
  content: "\eb45";
}
.ico-rss1:before {
  content: "\eb46";
}
.ico-ruler:before {
  content: "\eb47";
}
.ico-scissors1:before {
  content: "\eb48";
}
.ico-share-alternitive:before {
  content: "\eb49";
}
.ico-share1:before {
  content: "\eb4a";
}
.ico-shareable:before {
  content: "\eb4b";
}
.ico-shield1:before {
  content: "\eb4c";
}
.ico-shop:before {
  content: "\eb4d";
}
.ico-shopping-bag1:before {
  content: "\eb4e";
}
.ico-shopping-basket:before {
  content: "\eb4f";
}
.ico-shopping-cart1:before {
  content: "\eb50";
}
.ico-shuffle1:before {
  content: "\eb51";
}
.ico-signal:before {
  content: "\eb52";
}
.ico-sound-mix:before {
  content: "\eb53";
}
.ico-sports-club:before {
  content: "\eb54";
}
.ico-spreadsheet:before {
  content: "\eb55";
}
.ico-squared-cross:before {
  content: "\eb56";
}
.ico-squared-minus:before {
  content: "\eb57";
}
.ico-squared-plus:before {
  content: "\eb58";
}
.ico-star-outlined:before {
  content: "\eb59";
}
.ico-star1:before {
  content: "\eb5a";
}
.ico-stopwatch:before {
  content: "\eb5b";
}
.ico-suitcase:before {
  content: "\eb5c";
}
.ico-swap:before {
  content: "\eb5d";
}
.ico-sweden:before {
  content: "\eb5e";
}
.ico-switch:before {
  content: "\e909";
}
.ico-tablet1:before {
  content: "\eb5f";
}
.ico-tag1:before {
  content: "\eb60";
}
.ico-text-document-inverted:before {
  content: "\eb61";
}
.ico-text-document:before {
  content: "\eb62";
}
.ico-text:before {
  content: "\eb63";
}
.ico-thermometer1:before {
  content: "\eb64";
}
.ico-thumbs-down1:before {
  content: "\eb65";
}
.ico-thumbs-up1:before {
  content: "\eb66";
}
.ico-thunder-cloud:before {
  content: "\eb67";
}
.ico-ticket:before {
  content: "\eb68";
}
.ico-time-slot:before {
  content: "\eb69";
}
.ico-tools:before {
  content: "\eb6a";
}
.ico-traffic-cone:before {
  content: "\eb6b";
}
.ico-tree:before {
  content: "\eb6c";
}
.ico-trophy:before {
  content: "\eb6d";
}
.ico-tv1:before {
  content: "\eb6e";
}
.ico-typing:before {
  content: "\eb6f";
}
.ico-unread:before {
  content: "\eb70";
}
.ico-untag:before {
  content: "\eb71";
}
.ico-user1:before {
  content: "\eb72";
}
.ico-users1:before {
  content: "\eb73";
}
.ico-v-card:before {
  content: "\eb74";
}
.ico-video1:before {
  content: "\eb75";
}
.ico-vinyl:before {
  content: "\eb76";
}
.ico-voicemail1:before {
  content: "\eb77";
}
.ico-wallet:before {
  content: "\eb78";
}
.ico-water:before {
  content: "\eb79";
}
.ico-500px-with-circle:before {
  content: "\eb7a";
}
.ico-500px:before {
  content: "\eb7b";
}
.ico-basecamp:before {
  content: "\eb7c";
}
.ico-behance:before {
  content: "\eb7d";
}
.ico-creative-cloud:before {
  content: "\eb7e";
}
.ico-dropbox:before {
  content: "\eb7f";
}
.ico-evernote:before {
  content: "\eb80";
}
.ico-flattr:before {
  content: "\eb81";
}
.ico-foursquare:before {
  content: "\eb82";
}
.ico-google-drive1:before {
  content: "\eb83";
}
.ico-google-hangouts:before {
  content: "\eb84";
}
.ico-grooveshark:before {
  content: "\eb85";
}
.ico-icloud:before {
  content: "\eb86";
}
.ico-mixi:before {
  content: "\eb87";
}
.ico-onedrive:before {
  content: "\eb88";
}
.ico-paypal:before {
  content: "\eb89";
}
.ico-picasa:before {
  content: "\eb8a";
}
.ico-qq:before {
  content: "\eb8b";
}
.ico-rdio-with-circle:before {
  content: "\eb8c";
}
.ico-renren:before {
  content: "\eb8d";
}
.ico-scribd:before {
  content: "\eb8e";
}
.ico-sina-weibo:before {
  content: "\eb8f";
}
.ico-skype-with-circle:before {
  content: "\eb90";
}
.ico-skype:before {
  content: "\eb91";
}
.ico-slideshare:before {
  content: "\eb92";
}
.ico-smashing:before {
  content: "\eb93";
}
.ico-soundcloud:before {
  content: "\eb94";
}
.ico-spotify-with-circle:before {
  content: "\eb95";
}
.ico-spotify:before {
  content: "\eb96";
}
.ico-swarm:before {
  content: "\eb97";
}
.ico-vine-with-circle:before {
  content: "\eb98";
}
.ico-vine:before {
  content: "\eb99";
}
.ico-vk-alternitive:before {
  content: "\eb9a";
}
.ico-vk-with-circle:before {
  content: "\eb9b";
}
.ico-vk:before {
  content: "\eb9c";
}
.ico-xing-with-circle:before {
  content: "\eb9d";
}
.ico-xing:before {
  content: "\eb9e";
}
.ico-yelp:before {
  content: "\eb9f";
}
.ico-dribbble-with-circle:before {
  content: "\eba0";
}
.ico-dribbble:before {
  content: "\eba1";
}
.ico-facebook-with-circle:before {
  content: "\eba2";
}
.ico-facebook:before {
  content: "\e90a";
}
.ico-flickr-with-circle:before {
  content: "\eba3";
}
.ico-flickr:before {
  content: "\eba4";
}
.ico-github-with-circle:before {
  content: "\e90b";
}
.ico-github2:before {
  content: "\eba5";
}
.ico-google-with-circle:before {
  content: "\eba6";
}
.ico-google:before {
  content: "\eba7";
}
.ico-instagram-with-circle:before {
  content: "\e90c";
}
.ico-instagram1:before {
  content: "\eba8";
}
.ico-lastfm-with-circle:before {
  content: "\eba9";
}
.ico-lastfm:before {
  content: "\ebaa";
}
.ico-linkedin-with-circle:before {
  content: "\e90d";
}
.ico-linkedin1:before {
  content: "\ebab";
}
.ico-pinterest-with-circle:before {
  content: "\ebac";
}
.ico-pinterest:before {
  content: "\ebad";
}
.ico-rdio:before {
  content: "\ebae";
}
.ico-stumbleupon-with-circle:before {
  content: "\ebaf";
}
.ico-stumbleupon:before {
  content: "\ebb0";
}
.ico-tumblr-with-circle:before {
  content: "\ebb1";
}
.ico-tumblr:before {
  content: "\ebb2";
}
.ico-twitter-with-circle:before {
  content: "\e90e";
}
.ico-twitter2:before {
  content: "\ebb3";
}
.ico-vimeo-with-circle:before {
  content: "\ebb4";
}
.ico-vimeo:before {
  content: "\ebb5";
}
.ico-youtube-with-circle:before {
  content: "\ebb6";
}
.ico-youtube1:before {
  content: "\ebb7";
}
.ico-home2:before {
  content: "\e90f";
}
.ico-pencil:before {
  content: "\e910";
}
.ico-stack:before {
  content: "\e955";
}
.ico-barcode:before {
  content: "\e956";
}
.ico-qrcode:before {
  content: "\e957";
}
.ico-lifebuoy:before {
  content: "\e941";
}
.ico-phone:before {
  content: "\e942";
}
.ico-download:before {
  content: "\e960";
}
.ico-upload:before {
  content: "\e961";
}
.ico-plus:before {
  content: "\ea0a";
}
.ico-minus:before {
  content: "\ea0b";
}
.ico-arrow-up:before {
  content: "\ea32";
}
.ico-arrow-down:before {
  content: "\ea36";
}
.ico-arrow-up2:before {
  content: "\ea3a";
}
.ico-arrow-down2:before {
  content: "\ea3e";
}
.ico-terminal:before {
  content: "\ea81";
}
.ico-amazon:before {
  content: "\ea87";
}
.ico-google3:before {
  content: "\ea8a";
}
.ico-google-drive:before {
  content: "\ea8f";
}
.ico-facebook2:before {
  content: "\ea91";
}
.ico-whatsapp:before {
  content: "\ea93";
}
.ico-telegram:before {
  content: "\ea95";
}
.ico-twitter:before {
  content: "\ea96";
}
.ico-youtube2:before {
  content: "\ea9e";
}
.ico-github:before {
  content: "\eab0";
}
.ico-finder:before {
  content: "\eabf";
}
.ico-android:before {
  content: "\eac0";
}
.ico-windows:before {
  content: "\eac1";
}
.ico-windows8:before {
  content: "\eac2";
}
