* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
}

label,
a,
.icon {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#login {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#login-modal * {
  color: #222;
}
#login-modal .field {
  width: 100%;
}

#login .hide {
  display: none;
}

#login .btn {
  border: 1px solid #cccccc;
  background-color: #d9d9d9;
  width: 100%;
  height: 30px;
  cursor: pointer;
}

#login .btn:hover {
  background-color: #e6e6e6;
}

#login .btn:active {
  background-color: #f2f2f2;
}

#login .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
}

#login .form .field input {
  border: 1px solid #cccccc;
  border-radius: 3px;
  font-size: 0.9rem;
  padding: 7px 10px;
  outline: none;
  width: 100%;
}

#login .form .field input:active, #login .form .field input:focus {
  outline: none;
}

#login .form .label {
  font-size: 0.8rem;
}

#login .form.login {
  width: 200px;
  margin: 0 auto;
}

#login .form .label,
#login .form .submit {
  margin-top: 15px !important;
}

#login .form .recover-msg,
#login .form .register-msg {
  text-align: center;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.9rem;
}

#login .flash {
  font-size: 0.8rem;
}

#login .flash.error {
  color: red;
}

/*# sourceMappingURL=login.css.map */

/*# sourceMappingURL=login.css.map */
