* {
  font-family: "Roboto";
}

#ofertas .ofertas th {
  text-align: left;
}

#ofertas .ofertas tr:nth-of-type(2n) {
  background-color: #e6e6e6;
}

#ofertas .ofertas tr:hover {
  background-color: #f2f2f2;
}

#ofertas .ofertas a {
  color: #6f6f6f;
}

#ofertas .ofertas .icon {
  width: 50px;
  height: 50px;
}

#ofertas .ofertas .icon * {
  font-size: 23px;
}
/*# sourceMappingURL=profile.css.map */