.segundo {
  padding: 0;
}
#preofertas,
#preofertas-modal {
  * {
    box-sizing: border-box;
  }
  .preofertas {
    &-container {
      background: #222;
      color: #fff;
    }
  }
  .last-preofertas {
    padding: 20px;
    font-size: 1rem;
    .title {
      text-align: left;
    }
    .items {
      .item,
      .details {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .details {
        flex: 1;
        justify-content: space-between;
      }
      .item {
        padding: 5px 0;
        &:hover {
          background-color: lighten(#222, 10);
        }
        .icon {
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: 20px;
        }
      }
    }
    .dates {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .notes {
      padding: 10px;
    }
  }
  .preofertar {
    padding: 0 20px 20px 20px;
    button {
      background: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      cursor: pointer;
    }
    .notes {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      .icon {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 15px;
      }
      .note {
        position: relative;
        top: 2px;
      }
    }
    .controls {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .action-preofertar {
        flex: 1;
        text-align: left;
        button {
          background-color: #00a988;
          color: #fff;
          padding: 7px 15px;
          border-radius: 3px;
          font-weight: bold;
          &:hover {
            background-color: darken(#00a988, 10);
          }
          &:active {
            background-color: lighten(#00a988, 10);
          }
        }
      }
      .control {
        display: flex;
        flex-direction: row;
        align-items: center;
        .valor {
          flex: 1;
          font-weight: bold;
          padding: 0 10px;
        }
        .left,
        .right {
          button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            color: #c3c3c3;
            &:hover {
              color: darken(#c3c3c3, 10);
            }
            &:active {
              color: lighten(#c3c3c3, 10);
            }
          }
        }
      }
    }
  }
}
