.segundo {
  padding: 0;
}

#preofertas *,
#preofertas-modal * {
  box-sizing: border-box;
}
#preofertas .preofertas-container,
#preofertas-modal .preofertas-container {
  background: #222;
  color: #fff;
}
#preofertas .last-preofertas,
#preofertas-modal .last-preofertas {
  padding: 20px;
  font-size: 1rem;
}
#preofertas .last-preofertas .title,
#preofertas-modal .last-preofertas .title {
  text-align: left;
}
#preofertas .last-preofertas .items .item,
#preofertas .last-preofertas .items .details,
#preofertas-modal .last-preofertas .items .item,
#preofertas-modal .last-preofertas .items .details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#preofertas .last-preofertas .items .details,
#preofertas-modal .last-preofertas .items .details {
  flex: 1;
  justify-content: space-between;
}
#preofertas .last-preofertas .items .item,
#preofertas-modal .last-preofertas .items .item {
  padding: 5px 0;
}
#preofertas .last-preofertas .items .item:hover,
#preofertas-modal .last-preofertas .items .item:hover {
  background-color: #3c3c3c;
}
#preofertas .last-preofertas .items .item .icon,
#preofertas-modal .last-preofertas .items .item .icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
#preofertas .last-preofertas .dates,
#preofertas-modal .last-preofertas .dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#preofertas .last-preofertas .notes,
#preofertas-modal .last-preofertas .notes {
  padding: 10px;
}
#preofertas .preofertar,
#preofertas-modal .preofertar {
  padding: 0 20px 20px 20px;
}
#preofertas .preofertar button,
#preofertas-modal .preofertar button {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
#preofertas .preofertar .notes,
#preofertas-modal .preofertar .notes {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}
#preofertas .preofertar .notes .icon,
#preofertas-modal .preofertar .notes .icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
#preofertas .preofertar .notes .note,
#preofertas-modal .preofertar .notes .note {
  position: relative;
  top: 2px;
}
#preofertas .preofertar .controls,
#preofertas-modal .preofertar .controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#preofertas .preofertar .controls .action-preofertar,
#preofertas-modal .preofertar .controls .action-preofertar {
  flex: 1;
  text-align: left;
}
#preofertas .preofertar .controls .action-preofertar button,
#preofertas-modal .preofertar .controls .action-preofertar button {
  background-color: #00a988;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  font-weight: bold;
}
#preofertas .preofertar .controls .action-preofertar button:hover,
#preofertas-modal .preofertar .controls .action-preofertar button:hover {
  background-color: #00765f;
}
#preofertas .preofertar .controls .action-preofertar button:active,
#preofertas-modal .preofertar .controls .action-preofertar button:active {
  background-color: #00dcb1;
}
#preofertas .preofertar .controls .control,
#preofertas-modal .preofertar .controls .control {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#preofertas .preofertar .controls .control .valor,
#preofertas-modal .preofertar .controls .control .valor {
  flex: 1;
  font-weight: bold;
  padding: 0 10px;
}
#preofertas .preofertar .controls .control .left button,
#preofertas .preofertar .controls .control .right button,
#preofertas-modal .preofertar .controls .control .left button,
#preofertas-modal .preofertar .controls .control .right button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: #c3c3c3;
}
#preofertas .preofertar .controls .control .left button:hover,
#preofertas .preofertar .controls .control .right button:hover,
#preofertas-modal .preofertar .controls .control .left button:hover,
#preofertas-modal .preofertar .controls .control .right button:hover {
  color: #aaaaaa;
}
#preofertas .preofertar .controls .control .left button:active,
#preofertas .preofertar .controls .control .right button:active,
#preofertas-modal .preofertar .controls .control .left button:active,
#preofertas-modal .preofertar .controls .control .right button:active {
  color: #dddddd;
}

/*# sourceMappingURL=preofertas.css.map */
