#divTotal
{
background-image:url(../images/fdo-gradient.jpg);
background-repeat:repeat-x;
}


.txtRobotobanner
{
font-family: 'Roboto', sans-serif;
font-size:18pt;
font-weight:black;
color: #000000;
/*white-space:nowrap;*/
text-align:center;
}

.txtRobotolinks
{
font-family: 'Roboto', sans-serif;
font-size:12pt;
font-weight:bold;
color: #333333;
/*white-space:nowrap;*/
text-align:center;
}

.txtRobotolinks a:visited
{
	text-decoration:none;
	color:#333333;
}
.txtRobotolinks a:link
{
	text-decoration:none;
	color:#333333;
}
.txtRobotolinks a:hover
{
	text-decoration:none;
	color:#333333;
}
fechaRema {
    font-size: 14pt;
    text-align: center;
    line-height: 8pt;
  }



.txtFecharemateant
{
font-family: 'Roboto', sans-serif;
font-size:13pt;
/*font-weight:bold;*/
color: #000000;
text-align:left;
}
.txtStaffgrupos
{
font-family: 'Roboto', sans-serif;
font-size:12pt;
font-weight:bold;
color: #000000;
text-align:left;
margin-left: 5px;
}
.txtMenu
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
font-weight:normal;
color: #666666;
text-align:left;
letter-spacing: 0pt;
white-space: nowrap;
}
.txtForm
{
	font-family: 'Roboto', sans-serif;
	font-size:12pt;
	/*font-weight:bold;*/
color: #000000;
}
.txtStaff
{
font-family: Verdana;
font-size:9pt;
color:#000000;
margin-left: 12px;
}
.txtNumelote
{
font-family: 'Roboto', sans-serif;
font-size:40px;
font-weight:900;
letter-spacing:-4px;
line-height:30px;
color:#000000;
text-align:center;
}
.txtNumeloteCH
{
font-family: 'Roboto', sans-serif;
font-size:40px;
letter-spacing:0px;
text-align:center;
font-weight: 900;
color: #c10402;
}
.txtTextolote
{
font-family: 'Roboto', sans-serif;
font-size:15px;
font-weight:900;
letter-spacing:0px;
color:#c30000;
}
.txtCodilote
{
font-family: 'Roboto', sans-serif;
font-size:20pt;
font-weight:bold;
letter-spacing:0px;
position: relative;
top: -2px;
color:#da800b;
text-align:center;
}
.txtCodiloteCH
{
font-family: 'Roboto', sans-serif;
font-size:13pt;
font-weight:bold;
letter-spacing:0px;
color:#d31901;
}
.txtCodiloteCH2
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
font-weight:bold;
letter-spacing:0px;
color:#da800b;
}
.txtFiltro
{
font-family: 'Roboto', sans-serif;
font-size:9pt;
letter-spacing:0px;
color:#000000;
}
.txtFiltro a:visited
{
	text-decoration:none;
	color:#000000;
}
.txtFiltro a:link
{
	text-decoration:none;
	color:#000000;
}
.txtFiltro a:hover
{
	text-decoration:underline;
	color:#000000;
}

.txtVideolink
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
letter-spacing:0px;
color: #2c2c2c;
display: inline-block;
margin: 0 10px;
text-decoration:underline;
}
.txtVideolink a:visited
{
	text-decoration:none;
}
.txtVideolink a:link
{
	text-decoration:underline;
}
.txtVideolink a:hover
{
	text-decoration:none;
}

.txtConjlink
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
letter-spacing:0px;
color:#9d760b;
white-space: nowrap;
font-weight: bold;
}
.txtConjlink a:visited
{
	text-decoration:underline;
	color:#9d760b;
}
.txtConjlink a:link
{
	text-decoration:underline;
	color:#9d760b;
}
.txtConjlink a:hover
{
	text-decoration:none;
	color:#9d760b;
}

.select {
	font: 11px Tahoma;
  border:none;
	color: #000000;
	background-color: #fff;
}
.txtDetalote
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
line-height:20px;
color: #000000;

}
.txtDetalotePart
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
line-height:20px;
color:#4c4c4c;
}
.txtTituGrillas
{
font-family: 'Roboto', sans-serif;
font-size:14px;
font-weight:bold;
color:#333333;
text-align: center;
}
.txtGrillas
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
color:#333333;
}
.txtGrillasProx
{
font-family: 'Roboto', sans-serif;
font-size:11pt;
color:#000;
}
.txtTituremates
{
font-family: 'Roboto', sans-serif;
font-size:16pt;
color:#daaa26;
border-bottom: 1px solid #e1e1e1;
text-align: left;
margin-bottom: 10px;
}
.txtLotecate
{
font-family: 'Roboto', sans-serif;
font-size:11px;
font-weight:900;
letter-spacing:0px;
color:#000000;
}

.txtLotecertif2
{
font-family: 'Roboto', sans-serif;
font-size:11px;
font-weight:bold;
letter-spacing:0px;
color:#666666;
}
.txtFooter
{
font-family: 'Roboto', sans-serif;
font-size:14px;
letter-spacing:0px;
line-height:25px;
color:#000000;
}
.txtSobreumc
{
font-family: 'Roboto', sans-serif;
font-size:12px;
letter-spacing:0px;
text-align:left;
line-height:18px;
color:#000000;
}
.txtSobreumc a:visited
{
font-family: 'Roboto', sans-serif;
font-size:12px;
letter-spacing:0px;
color:#000000;
}
.txtSobreumc a:link
{
text-align:justify;
color:#000000;
}
.txtSobreumc a:hover
{
text-decoration:none;
	color:#d31901;
	}
.txtContaG
{
font-family: Tahoma;
font-size:20px;
letter-spacing:0px;
line-height:25px;
color:#000000;
}
.txtContaM
{
font-family: Tahoma;
font-size:14px;
letter-spacing:0px;
line-height:25px;
color:#000000;
}
.txtFooterlink
{
font-family: Tahoma;
font-size:14px;
letter-spacing:0px;
line-height:25px;
white-space:nowrap;
color:#9d5900;
}
.txtFooterlink a:visited
{
	text-decoration:none;
	color: #9d5900;
}
.txtFooterlink a:link
{
	text-decoration:none;
	color: #9d5900;
}
.txtFooterlink a:hover
{
	text-decoration:underline;
	color: #9d5900;
}
.txtTitu
{
font-family: Times New Roman;
font-size:18pt;
/*font-weight:bold;*/
color: #000000;
text-align:left;
}
.txtNumepagi {
    font-family: 'Roboto';
    font-size: 12pt;
    font-weight: bold;
    color: #000000;
    text-align: center;
    background-color: transparent !important;
    border: 1px solid black;
}
.txtNumepagi a:visited
{
	text-decoration:none;
	color: #FFFFFF;
}
.txtNumepagi a:link
{
	text-decoration:none;
	color: #FFFFFF;
}
.txtNumepagi a:hover
{
	text-decoration:underline;
	color: #FFFFFF;
}


.txtNumepagiOff
{
font-family: 'Roboto', sans-serif;
font-size:12pt;
font-weight:bold;
color: #7a7a7a;;
text-align:center;
}
.txtNumepagiOff a:visited
{
	text-decoration:none;
	color: #7a7a7a;;
}
.txtNumepagiOff a:link
{
	text-decoration:none;
	color: #7a7a7a;;
}
.txtNumepagiOff a:hover
{
	text-decoration:underline;
	color: #7a7a7a;
}


.txtMenuOn
{
background-color: #f0d565;
}

.txtTituprecblan
{
font-family: 'Roboto', sans-serif;
font-size:13pt;
font-weight:bold;
color: #ab8a03;
text-align:center;
}
.txtXprecblan
{
font-family: 'Roboto', sans-serif;
font-size:17pt;
/*font-weight:bold;*/
color: #7f6303;
text-decoration:none;
text-align:left;
}
.txtXprecblan a:visited
{
	text-decoration:none;
}
.txtXprecblan a:link
{
	text-decoration:none;
}
.txtXprecblan a:hover
{
	text-decoration:underline;
}
.navbar {
	border: none;
}
.navbar li {
    float: none;
	display: inline-block;
}
.navbar-inner, .navbar-nav {
	float: none;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #b1b1b1;
}

.navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	  margin-top: -50px;
}

.logo {
	width: 300px;
}
.gradhead {
	height: 90px; width: 200px;
}

.textcc {
	font-size: 11px;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.sasa {
	margin-bottom: 90px;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* 16:9 */

	padding-top: 25px;
	height: 0;
	

}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.triggerv {
	position: absolute;
    margin-top: -80px;
    width: 250px;
    height: 78px;
    opacity: 0;
}

.ganga {
	width: 100%;
	    margin: 0 auto;
}
.txtRobotobanner {
	width: 100%;
	white-space: nowrap;
    overflow: hidden;
}
.page-header {
	margin: 250px 0 20px;
}

.umc_item h2 {
	background-color: #3e6289;
    color: white;
    padding: 5px;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.31);
	padding-left: 30px;
}
.infosigna .lead {
	margin-bottom: 50px;
}
.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.username {
	font-weight: bold;
    font-family: Roboto;
    line-height: 15px;
    margin-top: 15px;
    font-size: 15px;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid #e2dfdf;
}
.userlinks span {
	    margin: 0px 5px;
}
.userimg {
	width: 100px;
    margin: 0 auto;
}
.user {
	width: 150px;
	background-color: #fbfbfb;
    padding: 20px 10px 5px 10px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.33);
    border-bottom: 10px solid #3e6289;
	margin: 0 auto;
	margin-top: 30px;

}
.user:hover {
    box-shadow: 1px 2px 4px 1px rgba(0,0,0,0.50);
}
.user a:hover {
	text-decoration: none;
}
.userlinks {
	margin-top: 5px;
    font-size: 15px;
}
#staffTD {
	margin-top: 250px;
}
.colder {
	margin-top: 240px;
}
.oh {
	overflow: hidden;
}
.titulin {
	margin-top: 30px;
    border-bottom: 1px dotted #dedede;
    font-size: 18px;
    text-align: center;
}
.mt30 {
	margin-top: 30px;
}
.m0a {
	margin: 0 auto;
}
.qs {
	color: #ecc704;
    font-size: 26px;
    border-bottom: 1px solid lightgray;
}
.circulito {
	background-color: #ffffff;    border: 1px solid #c3c3c3;
}
#myModal {
	margin-top: 200px;
	position: fixed;
	z-index: 2;
	left: 50%;
    transform: translate(-50%,0);
}
.cubre {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	z-index: 1;
}
.respuesta {
	margin-bottom: 25px;
	text-align: center;
	font-size: 16px;
	margin-top: 25px;
	border-radius: 5px;
	color: rgb(93, 185, 93);
}
.roboto {
	font-family: 'Roboto', sans-serif;
}
.fa-plus-circle {
	font-size: 26px !important;
}
i.fa-plus-circle.red {
	color: #dc4136;
}
i.fa-plus-circle.blue {
	color: #8091c1;
	font-size: 22px !important;
}
.navbar-inverse {
    background-image: url(../images/tile.jpg);
}
#navbar {
	width: 100%;
    background-color: #656565;
}
.padding-0 {
	padding-left: 0;
	padding-right: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #f9f9f9;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #d4d4d4;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #656565;
    background-color: #ffffff;
}
.social-head {
	position: absolute;
    top: 0;
    left: 10%;
}
.circle {
	border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
}
#conteContenido {
	margin-top: 220px;
}
.sharebtns > div {
	display: inline-block;
	margin-top: 10px;
    margin-left: 10px;
    font-size: 12px;
}
.sharebtns > div a {
	color: #000000;	
    font-weight: 400;	
}
.sharebtns > div .fa {
	font-size: 16px;
	color: #FFFFFF;
	width: 30px;
	height: 30px;
	line-height: 30px;
	margin-right: 5px; 
	text-align: center;
}
.sharebtns .fa-facebook {
	background-color: #3b5998;
}
.sharebtns .fa-whatsapp {
	background-color: #4cc85b;
}

	


#bannerNumerema b {
	font-weight: 900;
}
.tirita {
	height: 50px;
    position: relative;
    margin-bottom: 70px;
}
.tirita::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 1px;
    z-index: -1;
    transform: scale(0.993);
    box-shadow: 0px 0px 10px 2px #000000;
}
#bannerVerlotes {
    height: 100%;
    border-left: 2px solid white;

    width: 180px;
	background-color: #8696c3;	
	float: right;
    top: 6px;
    padding-left: auto;
    padding-right: auto;
    z-index: 40;
	height: 100%;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
	text-decoration: none;
	color: white;
	font-weight: 600;
	transition: color 1s ease;
}
#bannerDescCat {
    height: 100%;
    border-left: 2px solid white;

    width: 180px;
	background-color: #d3be84;	
	float: right;
    top: 6px;
    padding-left: auto;
    padding-right: auto;
    z-index: 40;
	height: 100%;	
	cursor: pointer;
	color: #000000;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
    text-decoration: none;
}

#bannerRemateenVivo {
	height: 100%;
    border-left: 2px solid white;

    width: 180px;
	background-color: #de3232;	
	float: right;
    top: 6px;
    padding-left: auto;
    padding-right: auto;
    z-index: 40;
	height: 100%;	
	cursor: pointer;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
    text-decoration: none;
}
#bannerMapaM {
	height: 100%;
    border-left: 2px solid white;

    width: 180px;
	background-color: rgb(64, 175, 110);
	float: right;
    top: 6px;
    z-index: 40;
	height: 100%;	
	cursor: pointer;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	line-height: 38px;
	text-decoration: none;
	padding: 0 5px;
}
#bannerVerlotes
#bannerDescCat
#bannerRemateenVivo
#bannerMapaM ,a {
	color: white;
	font-weight: 600;
	transition: color 1s ease;
}
#bannerMapaM ,a:hover {
	color: #dddddd;
	text-decoration: none;
}
#bannerCantivac {
	margin-top: -20px;
	margin-bottom: -40px;
	font-weight:bold; 
	letter-spacing:0vw; 
	z-index:12; 
	border: 0px solid #b1b0b0; 
	text-align: center;

}
.vacunostext {
	display: inline-block;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    position: relative;
    top: -15px;
    border-top: 2px solid;
    border-bottom: 2px solid;
}
#bannerNumerema {
	margin-top: -55px;
	color: #000; 
	letter-spacing:1pt; 
	top:6px; 
	z-index:12; 
	border: 0px solid #b1b0b0; 
	text-align: center; 
	font-size: 18pt;
}
.detallestext {
	font-size: 16px;
	margin-bottom: 50px;
	font-style: normal;
}
#bannerDetarema {
	color: #666666; 
	font-weight:normal; 
	letter-spacing:-4pt; 
	margin-top:-10px; 
	padding-left: 100px; 
	padding-right: 100px; 
	z-index:12; 
	border: 0px solid #b1b0b0; 
	text-align: center; 
	font-size: 20pt;
}
cantiBanner {
    text-align: center;
    font-weight: 900;
    font-style: italic;
}
.border-top {
	border-top: 1px solid #dedede;
}
.filtros {
	text-align: center;
	background-color: #ededed;
	font-size: 12px;
	padding: 5px 0;
}
.filtros>div {
	display: inline-block;
}
.lote-img {
	overflow: hidden;
	width: 146px;
	height: 146px;
	border: solid 2px #fff;
	position: relative;
	top: -80px;
	right: -234px;
}
.txtCodilote {
	position: relative;
	top: 27px;
	left: -125px;
}
.lotes-detcont {
	position: relative;
	left: 30px;
	top: 35px;
	text-transform: uppercase;
}

.conteCentro {
	    margin-top: -27px;
	    padding-top: 30px;
}
.sharebtns {
	padding-bottom: 10px;
}

.mb {
	margin-bottom: 25px;
}
.mt {
	margin-top: 25px;
}
.l_title {
	font-size: 18px;
	font-family: 'Roboto';
	color: #cacaca;
	font-weight: 600;
}
.l_ruler {
	margin: 0;
	margin-bottom: 10px;
	border-color: #a0a0a0;
}
.lote-flecha {
	position: absolute;
    right: -15px;
    top: 60px;
}
.lote-cont {
	cursor: pointer;
    border: solid 0px;
    width: 401px;
    height: 179px;
    display: block;
    margin: 0 auto;
}  
.videocont {
	padding: 15px;
    background-color: #e6e6e6;
}


/* NOSOTROS	 */
.headcel {
	background-color: #e8eff9;
	padding-top: 150px;
	padding-bottom: 20px;
}
.fs11 {
	font-size: 11px;
	padding-top: 30px;
}
.banner {
	margin-top: 230px
}
.banner-borders {
	border-left: 1px solid rgb(182, 182, 182);
	border-right: 1px solid rgb(182, 182, 182);
}
.segundo {
	padding: 40px 50px 45px;
	background-color: #dfdfdf;
}
#tablaVideoN {
	margin-top:  20px;
}















@media (min-width: 768px) {


  fechaRema {
    font-size: 18pt;
    text-align: center;
    line-height: 24pt;
    line-height: 14pt;
  }
  .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
  	    margin-top: 0px;
  }
  .lead {
    font-size: 19px;
}
.detallestext {
	margin: -10px;
	margin-bottom: 50px;
}
.headcel {

	padding-top: 220px;
}



}

@media (min-width: 992px) {

  consigneBanner {
    font-size: 55pt;
    text-align: center;
  }
  .vacunostext {
    font-size: 38px;
}
  fechaRema {
    font-size: 20pt;
    text-align: center;
    line-height: 12pt;
  }
  .gradhead {
	  height: 90px; width: 450px;
  }
  .textcc {
	  font-size: 13px;
	  color: #656565;

  }
}

@media (min-width: 1200px) {
   cantiBanner {
    font-size: 60pt;
    text-align: center;
  }
  consigneBanner {
    font-size: 60pt;
    text-align: center;
  }
  fechaRema {
    font-size: 20pt;
    text-align: center;
    line-height: 8pt;
  }
  .ganga {
	  width: 1180px;
	  margin: 0 auto;
  }


}

@media (max-width: 450px) {
  .logo {
	  width: 230px;
  }

}
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}
	#no-more-tables table {
	margin: 10px auto;
	}


	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 0; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		color: black;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }

	/* .txtTituremates {
	margin-top: -40px;
	} */

	.sasa {
		margin-top: 60px !important;
	}
}
@media only screen and (max-width: 991px) {
	.colder {
	    margin-top: 0;
	}
	#bannerCantivac {
    margin-top: -5px;

}
}
@media only screen and (max-width: 767px) {
	.navbar-inner, .navbar-nav {
	float: none;
	margin-top: 0;
	}
	.navbar li {
	    display: block;
	}
	.navbar-inverse .navbar-nav > li > a {
	color: #6e6e6e;
	text-align: center;
	}
	#navbar {
		    margin: 0px;
	}
	.primero {
		width: 50%;
	}
	.tercero {
		width: 50%;
	}
	#staffTD {
    margin-top: 180px;
	}
	#bannerNumerema {
    font-size: 3vw;
}
cantiBanner {
    font-size: 32pt;
    text-align: center;
  }
.vacunostext {
    top: -7px;
}	
.banner {
	margin-top: 170px
}


}


@media only screen and (max-width: 520px) {
	.primero {
		width: 100%;
	}
	.tercero {
		width: 100%;

	}
	#conteBanners {
		margin-top: 130px;
	}
	.fullxxs {
		width: 100%;
	}
	  
  .vacunostext {
    font-size: 2vw;
    top: -5px;
}
  consigneBanner {
    font-size: 6vw;
    text-align: center;
  }
  fechaRema {
    font-size: 2.6vw;
    position: relative;
    top: -4px;
  }

#consigneBanner {
    font-size: 6vw;
    text-align: center;
    margin: 0;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
}

.detallestext {
	font-size: 2vw;
}
#bannerNumerema b {
    display: block;
}
.linkcont > div {
	width: auto !important;
    font-size: 2.2vw;
    padding: 0 5px;
}
}
